.site-navigation {
	clear: both;
	display: block;
	text-align: right;
	width: 100%;
	padding-top: 60px;

	.site-logo {
		display: inline-block;
		text-align: left;
		font-size: 2em;
		line-height: 1em;
		width: 100px;
	}

	div {
		width: 85%;
		display: inline-block;

	}

	ul {
		display: none;
		list-style: none;
		margin: 0 7%;

		

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		// float: left;
		position: relative;
		display: inline-block;
		margin-left: 15px;
		background: none;
		padding: 0;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: inline-block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.site-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.site-navigation ul {
		display: inline-block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
