
.site-footer {
    padding: 60px 60px 20px 60px; 
    background-color: $color__background-footer;
    color: $color__text-footer;
    text-align: center;
}

.footer-links {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
}

.footer-links div {
    width: 170px;
    text-align: center;
}

.footer-links h1 {
    margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
    .footer-links {
        display: block;
        width: 100%;
        margin-bottom: 60px;
        div {
            width: 100%;
            margin-bottom: 30px;
        }
        h1 {
            margin-bottom: 5px;
        }
    }
}