
.site-header {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover; 
}

.site-title {
    padding-top: 7%;
    font-size: 3.5em;
    line-height: 1em;
    margin-bottom: .3em;
    font-family: "josefin slab";
}

.title-right {
    padding-left: 63%;
}

.title-left {
    padding-left: 8%;
}

.site-description {
    font-size: 1.5em;
    font-weight: 400;
    font-family: "josefin slab";
}

.description-right {
    padding-left: 67%;
    padding-right: 45px;
}

.description-left {
    padding-left: 12%;
}

.nav-menu a {
    color: $color__menu-link;
}