.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// front page stylization

.newsletter {
	margin: 60px 0;
	text-align: center;
}

.newsletter-input {
	font-weight: 600;
}

.ctct-form-field {
	display: inline-block;
	padding-right: 30px;
	
}

.ctct-form-field input {
	border-radius: 0;
	height: 2.5em;
	border-color: $color__border-button;
	color: $color__link;
	padding-right: 60px;
}

.ctct-form-field-submit input {
	background-color: $color__background-button;
	font-size: 16px;
	font-family: "josefin slab";
	padding-right: 40px;
	padding-left: 40px; 
}


#ctct_usage {
	display: none;
}

.featured-banner {
	background-color: #E6E8EB;
	padding: 60px 0;
	text-align: center;
}

.featured-cards-title {
	font-family: "lato";
	margin-bottom: 40px;
	text-align: center;
}

.featured-cards {
	display: flex;
	justify-content: space-around;
}

.featured-card{
	border: #808C99 2px solid;
	height: 275px;
	width: 305px;
	position: relative;
}

.card-text {
	margin: 35px 20px 0 23px;
	text-align: left;
}

.featured-card-link {
	background-color: #B9BFC7;
	height: 75px;
	width: 335px;
	text-align: center;
	font-family: "josefin slab";
	position: absolute;
	left: -15px;
	bottom: 25px;

}

.call-to-action {
	font-weight: 400;
	padding: 60px 0;
	text-align: center;
}

// About Page Template

.about-page {
	margin: 60px 12%;
}

.page-breaker {
	width: 630px;
	border-bottom: #96A0AB 1px solid;
	margin: 0px auto;
}

.primary-about {
	margin: 30px 0;
	
}

.secondary-about-section {
	margin: 30px 0;
	
}

.secondary-about {
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
}

.secondary-about div {
	width: 40%;
}

.featured-image-section {
	text-align: center;
}

.featured-image-section img{
	width: 250px;
	height: 300px;
	margin:  auto;
}

// Coaching Page Template

.opening-banner {
	text-align: center;
	padding: 60px 12%;
}

.accented-section {
	background-color: #D5D8DD;
	padding: 60px 12%;
}

.main-section,
.list-section {
	margin: 60px 12%;
}


.list li {
	width: 550px;
	display: inline-block;
}


.closing-banner {
	background-color: #808C99;
	padding: 60px 12%;
	color: #F1F2F4;
	line-height: 1.25em;
}

// Testimonials Page

.testimonials-page {
	margin: 60px 12%;
}

.testimonials-page hr {
	width: 630px;
}

// Blog Page

.blog-page {
	margin: 60px 12%;
}